body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    margin: 0;
    font-size: 3.5em;
    color: #ffffff;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
}

.header h1:hover {
    text-shadow: 0 0 10px #ffffff;
}

.menu-band {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #1E1E1E;
}

.menu-band a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px; /* Leicht abgerundete Ecken */
    transition: all 0.3s ease, background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    background-color: #4CAF50; /* Grüne Hintergrundfarbe */
}

.menu-band a:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #3D8B37, #3D8B37, #3D8B37, #3D8B37);
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s;
}

.menu-band a:hover {
    transform: translateY(-5px) scale(1.1); /* Vergrößerte Animation */
    box-shadow: 0 5px 15px rgba(255,255,255,0.3); /* Intensivere Schatten */
    background-color: #45A049; /* Dunkleres Grün bei Hover */
}

.menu-band a:hover:before {
    opacity: 1;
    animation: glowing 10s linear infinite; /* Schnellere Animation */
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cool-box {
    background-color: #1E1E1E;
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cool-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.cool-box h2 {
    color: #ffffff;
    margin-top: 0;
}

#dock-frame {
    width: 100%;
    height: 60px;
    border: none;
}

