@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-dock {
    width: 100%;
    height: 300px; /* Höhe für die obere Leiste */
    overflow: hidden;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem; /* Größere Schriftgröße für größere Bildschirme */
    font-weight: bold;
    padding: 0 20px; /* Innenabstand für kleinere Bildschirme */
    box-sizing: border-box;
}

.bottom-dock {
    width: 100%;
    height: 80px; /* Höhe für die untere Leiste */
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#bottom-dock {
    border-radius: 15px 15px 0 0;
}

/* Medienabfragen für kleinere Bildschirme */
@media (max-width: 768px) {
    .top-dock {
        height: 80px; /* Reduzierte Höhe für kleinere Bildschirme */
    }

    .content {
        font-size: 2.5rem; /* Kleinere Schriftgröße für kleinere Bildschirme */
        padding: 0 10px; /* Reduzierter Innenabstand */
    }

    .bottom-dock {
        height: 60px; /* Reduzierte Höhe für kleinere Bildschirme */
    }
}

@media (max-width: 480px) {
    .top-dock {
        height: 60px; /* Noch kleinere Höhe für sehr kleine Bildschirme */
    }

    .content {
        font-size: 1.5rem; /* Noch kleinere Schriftgröße */
        padding: 0 5px; /* Noch reduzierter Innenabstand */
    }

    .bottom-dock {
        height: 50px; /* Noch kleinere Höhe */
    }
}

