body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.dock {
    padding: 10px 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dock p {
    margin: 0;
    padding: 0;
}

